@import "~bootstrap/scss/bootstrap.scss";
body {
  background: rgb(100, 100, 100);
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  color: rgb(140, 140, 140);
  text-transform: uppercase;
}

.page {
  height: 90vh;
}
.card{
   width: 520px;
    min-height: 20vh;
    box-shadow: 0px 10px 20px 10px rgba(54, 54, 54, 0.425);
    padding: 15px;
    border-radius: 20px;
    margin:auto;
    margin-top: 10vh;
    background-color: rgb(15, 15, 15);

  }

.new-todo {
    margin: auto;

}
.btn {
  font-size: 15pt;
  padding: 10px;
  margin: auto;
  width: 150px;
  background-color: rgb(150, 230, 60);
  border: none;
  color: rgb(20, 20, 20);
  box-shadow: 0px 10px 20px 10px rgba(70, 70, 70, 0.164);
  transition: all .1s ease-in-out;
  position: align-to-parent(right, middle);
  border-radius: 8px;

}
.btn:hover {
  background-color: rgb(20, 20, 20);
  color: rgb(150, 230, 60);
  transform: scale(1.025);
}

.textinput {
    margin: 1rem;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    width: 20rem;
    height: 3rem;
    text-transform: uppercase;
}

.todo-textbox {
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.addedtodo {
    margin: 1rem;
    color:  rgb(150, 230, 60);
}